[2021-08-25 07:14] mantorok1 opened #1 "Plugin Dev"
Hi @donavanbecker, I thought it may be better to move the conversation to your repo.

I didn't realise you'd already made good progress on this. Do you have a RainBird yourself? Which model?

I did make a start last weekend and managed to get some connectivity to my RainBird. I was able to retrieve the model, serial number, zones and the current status.

From googling around I found this: https://

[2021-08-25 12:41] donavanbecker commented on #1
Creating this for a relative. So need to get the model.

Also, yes, let's collaborate. I can add you as a collaborator onto this plugin if you want?

Also are you on the homebridge discord server?

[2021-08-25 13:32] donavanbecker commented on #1
ESP-TM2

[2021-08-25 22:03] mantorok1 commented on #1
Cool. That's the same model I have.

Thanks for the invite which I've accepted. Is there anything in particular you'd like me to focus on?

Also, I am on Homebridge Discord server, my username is `Mantorok`. I haven't used it much though

[2021-08-25 23:19] donavanbecker commented on #1
@mantorok1 Since I don't have the unit right in front of me. Go ahead and push any changes you want into the beta branch. And commit that is pushed will publish a new beta version on npm.

[2021-08-26 12:50] iondarie opened #2 "Not Ready for Testing"
Hello,

I have installed your plugin, but i am stuck on the 3'rd step on the configuration page: "and enter the 'Callback URL' exactly as it is displayed below." and the input box below is empty.

Please see attached screenshot.

Thank you,

![Screenshot 2021-08-26 at 15 46 05](https://user-images.githubusercontent.com/9055885/130965629-1f037cf7-8563-4078-ab4d-a0fc175b9891.png)

[2021-08-26 17:06] donavanbecker commented on #2
this plugin is a work in progress. this page is not complete and I have release a new beta that removes these steps.

`v0.0.2-beta.5`

[2021-08-26 17:07] #2 closed, assigned to nobody

[2021-08-26 22:46] mantorok1 commented on #1
No worries. I'm hoping to have some spare time this weekend to focus on this.

For the first release are you thinking of just supporting turning on a zone for a set duration?

[2021-08-26 22:51] donavanbecker commented on #1
yeah that works. I think get the plugin going and then we can go from there.

[2021-08-27 10:00] sunchaser360 opened #3 "Callback URL missing"
Hi,

first of all thank you for making this happen! this a long awaited plugin and I'm looking forward using it.
I own a Rainbird ESP-RZXe with Wifi Module.
When I installed the plugin and try to configure it, the callback URL is missing (this is what I would need for the Honeywell Home Account). What I'm doing wrong?

Thanks
J/

[2021-08-27 12:14] donavanbecker commented on #3
@sunchaser360 Plugin is not in a working state. And is currently only able to connect to the controller and nothing else. I will release a new update that Removes that

[2021-08-27 12:14] #3 closed, assigned to nobody

[2021-08-27 12:17] sunchaser360 commented on #3
Yes I realized that now also. Ok then I will wait patiently...let me know if you need sb. to test!
thx
J/

[2021-08-27 12:55] donavanbecker commented on #3
0.0.2 is release which doesn't have that. but still not working.

[2021-08-27 16:57] StofLE opened #4 "ESP-RZXe Support"
Hi,

i own an ESP-RZXe and got following Log Output:
`DEBUG: Received a response from Rainbird controller
DEBUG: {"serialNumber":"0000000000000000","_type":"SerialNumberResponse"}
DEBUG: Received a response from Rainbird controller
DEBUG: Received a response from Rainbird controller
DEBUG: {"pageNumber":"00","activeStations":"00000000","activeZones":[0,0,0,0],"_type":"CurrentStationsActiveResponse

[2021-08-27 19:13] iondarie commented on #4
i own the same controller here is my log if it helps with anything:

[code]

[2021-08-28 03:46] mantorok1 commented on #1
Hi @donavanbecker, I just pushed a change to the `beta` branch. The main changes are:

- replacement of node-rainbird with my RainBirdClient
- Use of Irrigation System accessory with valves for each zone

When activating a zone in the Home app that zone should start and deactivating should turn it off.

It's still very rough with a number of issues:

- After restarting Homebridge the Firmware vers

[2021-08-28 03:59] donavanbecker commented on #1
@mantorok1 Awesome!! I will look at those issues, and see if I can help resolve them.

[2021-08-29 00:28] mantorok1 commented on #1
@donavanbecker, I just pushed another commit. I added a queuing system for the zones so if you turn on multiple zones they will operate in sequence. This overcomes the issue where starting one zone will stop another. It should now display the correct states and show the remaining time left for a zone.

I think we're getting very close now...

[2021-08-29 01:58] mantorok1 commented on #1
Looks like that 5 or 10 min duration limitation is a bug in iOS 14. See https://github.com/homebridge/HAP-NodeJS/issues/857
It works correctly in the macOS Home app

[2021-08-29 02:55] donavanbecker commented on #1
I am going to test again and the push out 0.1.0, for testing purposes before we release 1.0.0! Thanks for your work on this! By chance can we refactor all of the irrigation code to the irrigation file?

[2021-08-29 03:06] mantorok1 commented on #1
Yeah, I don't mind. I was just following the pattern from the Orbit plugin. You're welcome to refactor it to however you like

[2021-08-29 10:41] donavanbecker commented on #4
@iondarie, @StofLE, can you guys try the latest beta?

[2021-08-29 10:41] donavanbecker commented on #3
@sunchaser360 Can you try the latest beta?

[2021-08-29 11:47] iondarie commented on #4
@donavanbecker it seems to work, ill try to do some more tests and come back

[2021-08-29 19:00] donavanbecker commented on #1
@mantorok1 looking over this, I am not seeing the ipaddress or password being used from the config?

[2021-08-29 20:07] StofLE commented on #4
Sure, could you pleas

[2021-08-29 20:09] StofLE commented on #4
Clicked wrong...

Seems to work! :-)

[2021-08-29 20:27] donavanbecker commented on #4
v0.1.0 is out. When I release v1.0.0 You will have to change your config a little and clear cache on your device to re add it. so don't setup to much automation. Currently you can only add 1 controller in, with v1.0.0 (if you have multiple controllers on one network, rare but possible) you will be able to config more than 1.

[2021-08-29 20:45] mantorok1 commented on #1
They are passed into the constructor of the RainBirdClient:
[code]
See line 54 of platform.ts

[2021-08-29 21:14] iondarie commented on #4
@donavanbecker thank you, any chance that the valves could be exposed as sensors? So we can receive notifications when the sprinkler zones’s start

[2021-08-29 21:41] donavanbecker commented on #1
thanks! Yeah I figured that out after a little bit... haha I am refactoring right now, going to take a little bit, Also adding the config of `device.ipaddress` and `device.password`. In an array so that if anyone is in a situation where they have multiple controllers, it would be able to handle both controllers.

[2021-08-29 21:44] donavanbecker commented on #1
@mantorok1 I am going to close this now that I have added you on Discord Server.

[2021-08-29 21:44] #1 closed, assigned to nobody

[2021-08-30 00:14] mantorok1 commented on #4
@iondarie, what type of sensor are you thinking of? Perhaps a leak sensor?

[2021-08-30 01:37] donavanbecker commented on #4
We could make this a config option. Let's do this for 1.1.0, we want to get v1.0.0 out first then we can look at this.

[2021-08-30 01:41] donavanbecker opened #8 "Leak Sensor Config Option"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-08-30 01:48] donavanbecker commented on #4
We will track this with #8.

[2021-08-30 11:40] sunchaser360 commented on #3
Hi, tried it today and it works! many thanks so far! now I have to figure out how to schedule the zones.

![image](https://user-images.githubusercontent.com/89637487/131333543-5ecad743-aa9a-450b-8af7-d008e1b56ecb.png)

[2021-08-30 12:23] sunchaser360 commented on #3
...ok seems to be normal by Homkit that you cannot schedule this....too bad. Maybe there is an additional Option to present the valves/zones as switches then you can add an automation on it. This would be perfect!

[2021-08-30 12:36] donavanbecker commented on #3
Submit a feature request to track

[2021-09-10 14:19] kukacwap opened #28 "Feature Request: Show Current Status in HomeKit"
### Describe The Bug

HomeKit won't show running watering if started from Rainbird App or its scheduler

### To Reproduce

start a watering program from the app

### Expected behavior

It would switch to running in HK (with remaining time and zones in waiting).

### Relevant log output

[code]

### Config for homebridge-rainbird

[code]

### Screenshots

_No response_

### Device & Model

ESP-TM2

[2021-09-14 04:26] mantorok1 commented on #28
I'm currently working on an enhancement that will retrieve the controller's status and show the currently active zone in HomeKit

[2021-09-19 13:21] donavanbecker commented on #28
Thanks to @mantorok1, this is now in the current beta

[2021-09-19 16:20] donavanbecker commented on #28
v1.0.0 has been released.

[2021-09-19 16:20] #28 closed, assigned to donavanbecker

[2021-09-19 17:16] donavanbecker commented on #4
v1.0.0 released

[2021-09-19 17:16] #4 closed, assigned to nobody

[2021-09-23 16:48] tu00tf opened #39 "Support Request:"
### Describe Your Problem

Plugin thinks my controller is OFF

Note that I've verified that the IP and password are correct. Is this first version meant to support my model controller or did you have another one in mind?

### Relevant log output

[code]

### Config for homebridge-rainbird

[code]

### Screenshots

_No response_

### Device & Model

ESP-MEI, ESPSM3, LNK WIFI Module firmware v.1.6.3

[2021-09-23 19:01] iondarie commented on #39
I have the same issue on ESP-RZXe controller:

[code]

I can control the valve's/sprinkler's but i can't see their status.

[2021-09-23 19:05] tu00tf commented on #39
Interesting. Nothing shows up in Home for me, so this is likely a more generic error for two different problems?

[2021-09-23 19:12] iondarie commented on #39
Please see the pictures attached, i can see the controller and valves. At the moment the sprinkers are on but as you can see they appear as off.

![01](https://user-images.githubusercontent.com/9055885/134568976-623e741d-6152-469b-a46a-f1d508cf04dc.jpg)
![02](https://user-images.githubusercontent.com/9055885/134568984-fdc16234-be37-4e3b-a5fe-23fd644c6565.jpg)
![03](https://user-images.githubuserco

[2021-09-23 20:10] mantorok1 commented on #39
I suspect the status request API the plugin is using is not supported by your models. To see if this is the case can you set Homebridge into DEBUG mode and restart. In the logs can you please find messages that looks like the following and post it here. Thanks
[code]

[2021-09-23 20:19] iondarie commented on #39
[code]
[code]
[code]

Hope this help's, if you need any more test's please let me know.

[2021-09-23 20:25] tu00tf commented on #39
[code]

Yes, looks like it's not getting a status response. Let me see if I can see the requests the Rain Bird app is making to my controller.

[2021-09-23 20:25] mantorok1 commented on #39
Thanks @iondarie, yes it confirms that the status request is not supported. I'll look into another way to do it

[2021-09-23 21:05] iondarie commented on #39
does a wireshark help with anything?

[2021-09-23 21:14] mantorok1 commented on #39
Not at this stage. I believe there are other requests that can give the same status information. The advantage of the one I used was that all status info is retrieved with a single call. The other way requires a seperate call for each item in the status

[2021-09-24 01:55] ghost commented on #39
+1 - just tried installing this plugin but getting same errors. Also it cannot discover devices so nothing shows up in Homekit.

[2021-09-24 02:05] mantorok1 commented on #39
@iondarie, I'm able to find an alternative way to get all the status items with the exception of the currently active zone's remaining time. Are you able to use wireshark to determine what the request for this is (assuming there is one)?

[2021-09-24 16:27] zifou2015 commented on #39
same problem

24/09/2021, 17:21:02] [RainBird] RainBird controller is currently OFF. Please turn ON so plugin can control it
[24/09/2021, 17:21:02] [RainBird] Failed to Discover Devices, "Cannot read property 'getTime' of undefined"
[24/09/2021, 17:21:02] [RainBird] [DEBUG] {}

[2021-09-24 17:03] iondarie commented on #39
@mantorok1  i am not such an expert with wireshark but i can try

LE: see the attached zip it contains 2 files
[wireshark.zip](https://github.com/donavanbecker/homebridge-rainbird/files/7227887/wireshark.zip)

[2021-09-24 20:08] mantorok1 commented on #39
Thanks @iondarie, I'm no expert in wireshark either but I'll take a look. The requests and responses are encrypted using your RainBird password so I'll need that too. If you're comfortable giving me the password perhaps DM it to me on Discord.

[2021-09-25 04:43] mantorok1 commented on #39
There's a new beta version of the plugin available (1.0.1-beta.0) that will hopefully go some way towards fixing the issue. The only thing I haven't been able to work out is determining the time remaining for a zone that wasn't started from the plugin.

[2021-09-25 04:47] iondarie commented on #39
installing it now

LE: it seems to be working

![IMG_2262](https://user-images.githubusercontent.com/9055885/134758790-3d851a3f-0e2f-4944-b99a-e5fb6e6b678c.PNG)

[2021-09-25 05:12] mantorok1 commented on #39
How did you start the zone? Via the plugin or the app?

[2021-09-25 05:13] iondarie commented on #39
Via the app

[2021-09-25 05:21] mantorok1 commented on #39
That makes sense. Starting via the plugin should show the time remaining.

[2021-09-27 12:48] baumph opened #41 "Support Request:"
### Describe Your Problem

Getting an error that the Plugin cannot be loaded

### Relevant log output

[code]

### Config for homebridge-rainbird

[code]

### Screenshots

_No response_

### Device & Model

Raspberry Pi 4

### Node.js Version

12.14.1

### NPM Version

6.13.4

### Homebridge Version

1.2.3

### Homebridge Rainbird Plugin Version

1.0.0

### Homebridge Config UI X Plugin Version

_

[2021-09-27 12:55] donavanbecker commented on #41
What error are you referring too? Because I am not seeing any error that would be pointing to the rainbird plugin. I do see that you are on HOOBs though and this plugin is only developed for homebridge.

I would recommend[ moving to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

[2021-09-27 13:21] tu00tf commented on #39
This is also working for me. Are you guys using [pyrainbird](https://github.com/jbarrancos/pyrainbird/blob/master/pyrainbird/resources/sipcommands.json) as a reference?

[2021-09-27 13:37] zifou2015 commented on #39
with release beta , its ok for me .my plugin can connect in Rainbird ESP-RZXe .

________________________________
De : Ash Weaver ***@***.***>
Envoyé : lundi 27 septembre 2021 15:21
À : donavanbecker/homebridge-rainbird ***@***.***>
Cc : zifou2015 ***@***.***>; Comment ***@***.***>
Objet : Re: [donavanbecker/homebridge-rainbird] Support Request: (#39)

This is also working for me. Are you guys usi

[2021-09-27 13:45] baumph commented on #41
The initial error is fixed. I just updated NPM and Node.

Now i am getting the error:

[RainBird] Initializing RainBird platform...
[RainBird] "this.config.devices is not iterable

I have the controller ESP-RZXe. Is it compatible with your plugin?

[2021-09-27 13:47] iondarie commented on #41
@baumph i have the same controller and it works

[2021-09-27 13:55] donavanbecker commented on #41
@iondarie, are you using homebirdge or HOOBs?

[2021-09-27 15:12] iondarie commented on #41
@donavanbecker i am using Homebridge. But hoobs is homebridge just with a nicer package

[2021-09-27 15:45] donavanbecker commented on #41
@iondarie HOOBs is a little different than you think, it modifies Homebridge. So I that is my thought on why you aren't seeing an issue and @baumph is.

[2021-09-27 15:50] baumph commented on #41
I have a second Raspberry Pi running standard homebridge. I am currently updating it. I´ll send an update once its finished.

[2021-09-27 15:58] baumph commented on #41
So, i have installed the plugin on a standard homebridge install.
I am now getting the error:

[RainBird] RainBird controller is currently OFF. Please turn ON so plugin can control it
[RainBird] Failed to Discover Devices, "Cannot read property 'getTime' of undefined"
[RainBird] [DEBUG] {}

[2021-09-27 16:14] baumph commented on #41
Another update:
i just hard a read through #39 and installed the Beta.
I am now getting the error:

[RainBird] RainBird controller time 27/09/2021, 18:12:46 is more than 5 minutes fast
[RainBird] Model: ESP-RZXe, [Version: 2.9, Serial Number: 00000000000000, Zones: [1,2,3,4]]
[RainBird] Adding new accessory: ESP-RZXe
[RainBird] [DEBUG] Configure Irrigation Service
[RainBird] Failed to Discover Dev

[2021-09-27 16:16] donavanbecker commented on #41
what is your info for your homebridge? the following error is from not being on the latest version of homebridge:

[code]

[2021-09-27 16:39] baumph commented on #41
Yeah, Homebridge was outdated... Now everything works.

Thank you very much for your help and your awesome plugin!

[2021-09-27 16:39] #41 closed, assigned to donavanbecker

[2021-09-27 16:46] donavanbecker commented on #41
@baumph Awesome!! Sorry i have no plans to support HOOBs since I only run homebridge.

[2021-09-27 16:55] #39 closed, assigned to donavanbecker, mantorok1

[2021-09-27 22:21] mantorok1 commented on #39
We used [node-rainbird](https://www.npmjs.com/package/node-rainbird) as a reference which was based on pyrainbird.

[2021-09-27 23:48] tu00tf commented on #39
Thanks. It's odd that CombinedControllerStateRequest doesn't work for some controllers. I wonder if some of them, like mine, use a different command? The Rainbird app clearly polls the time remaining so an API has to exist.

I've set up a virtual interface for my iPhone and can capture the http requests in Wireshark. Just need to figure out how to convert the octet stream into something I can run

[2021-09-27 23:50] tu00tf commented on #39
Related: can you guys please recommend a tutorial for how to attach a debugger to a local plugin in VS Code or IntelliJ?

[2021-09-28 03:09] mantorok1 commented on #39
@tu00tf, if you have any luck with the "time remaining" API let us know and we'll incorporate it into the plugin. I spent a little bit of time trying to figure it out using the Wireshark captures from @iondarie but no luck.

As for debugging, I've tried to get it to work with VS Code and had some partial success but it was very flakey.  Try looking here: https://code.visualstudio.com/docs/nodejs/n

[2021-09-28 15:23] tu00tf commented on #39
There is definitely another command. I started a zone manually, then captured an API call from the Rainbird app that polls the controller every 30 seconds. I ended up having better success proxying iPhone requests through Charles on my Mac. I saved the request/response pairs out into files and then loaded them into Buffers within RainBirdClient so I could write a little test harness function (and

[2021-09-28 20:54] mantorok1 commented on #39
Great work @tu00tf, I'll update the plugin to include this new command

[2021-09-28 21:04] tu00tf commented on #39
Great! Thanks @mantorok1! Tangent: I wanted to create a couple of enhancement requests but the option is gone now. Did you guys turn it off for now?

[2021-09-28 21:23] donavanbecker commented on #39
@tu00tf Like a pull request? And template? I can re add it. I was try to see if the forms worked with PRs also and found out it doesn't

[2021-09-28 21:24] tu00tf commented on #39
Sorry, not a pull request, just wanted to offer some feature requests to you guys.

[2021-09-28 21:51] donavanbecker commented on #39
@tu00tf sorry about that. It should be fixed now. Can you confirm by submitting a feature request?

[2021-09-28 22:34] tu00tf opened #50 "Feature Request: add a rain sensor switch"
### Problem

As a rainbird user, I want to know the rain sensor status in HomeKit

### Solution

Add a switch sensor that polls the response from the get rain sensor status API

### Alternatives

_No response_

### Additional context

_No response_

[2021-09-28 22:36] tu00tf commented on #50
Welp, I used the template. Did I miss something?

[2021-09-29 02:01] donavanbecker commented on #50
@tu00tf Sorry. I will reopen and check. Must not have something right.

[2021-09-29 09:00] mantorok1 commented on #39
Version 1.1.1-beta.2 is now available which should fix the time remaining for the active zone

[2021-09-29 10:55] tu00tf commented on #39
@mantorok1 This works perfectly now! 🎉

[2021-09-29 11:36] tu00tf opened #51 "Feature Request: sort zones by zone number rather than name"
### Problem

As a user, I want to see my zone switches sorted by index rather than name so I can see the run sequence

### Solution

If possible, sort the array of zone switches by index instead of name so they don't change order arbitrarily based on name changes

### Alternatives

_No response_

### Additional context

_No response_

[2021-09-29 12:08] donavanbecker commented on #39
@tu00tf I will look into why the issues are closing the once @mantorok1 has confirmed he has any other changes he would like to make, and then we will publish a new version.

[2021-09-29 17:32] donavanbecker opened #52 "Feature Request:"
### Problem

_No response_

### Solution

test

### Alternatives

_No response_

### Additional context

_No response_

[2021-09-29 17:32] donavanbecker opened #53 "Bug:"
### Describe The Bug

test

### To Reproduce

test

### Expected behavior

test

### Relevant log output

[code]

### Config for homebridge-rainbird

[code]

### Screenshots

_No response_

### Device & Model

test

### Node.js Version

test

### NPM Version

test

### Homebridge Version

test

### Homebridge Rainbird Plugin Version

test

### Homebridge Config UI X Plugin Version

_No response_

[2021-09-29 17:33] donavanbecker opened #54 "Support Request:"
### Describe Your Problem

test

### Relevant log output

[code]

### Config for homebridge-rainbird

_No response_

### Screenshots

_No response_

### Device & Model

test

### Node.js Version

test

### NPM Version

test

### Homebridge Version

test

### Homebridge Rainbird Plugin Version

test

### Homebridge Config UI X Plugin Version

_No response_

### Operating System

test

[2021-09-29 17:45] donavanbecker commented on #39
@tu00tf templates will be fixed when we push v1.2.0.

Sorry about that.

[2021-09-29 21:58] mantorok1 commented on #50
@tu00tf, I think this request is similar to https://github.com/donavanbecker/homebridge-rainbird/issues/8 but using a switch instead of a leak sensor. We're thinking of also allowing a contact sensor as another option

[2021-09-29 22:03] mantorok1 commented on #51
@tu00tf, I'm not sure the plugin has any control over the order of the zone switches, I think its the Home app that orders it. As a workaround you could prefix the zone number onto the name, such as:
1 - Front Lawn
2 - Back Lawn
@donavanbecker are you aware of a way to change the sort criteria for the zone switches?

[2021-09-29 22:19] donavanbecker commented on #51
@tu00tf

the order is all sorted by alphabetical order. so I think if you did

- 1 - Front Lawn
- 2 - Back Lawn

It would keep that order but if you removed the numbers it would thens or it as

- Back Lawn
- Front Lawn

This is a HomeKit limitation.

[2021-09-29 22:59] tu00tf commented on #50
Got it, thanks.

[2021-09-29 23:00] tu00tf commented on #51
Ok, got it. I did what you suggested. Closing.

[2021-09-29 23:00] #51 closed, assigned to donavanbecker

[2021-09-30 17:09] iondarie opened #56 "Feature Request: HomeKit notifications"
### Problem

Would be nice to receive a notification when a zone starts/stops watering

### Solution

Maybe the valves can also have open/closed sensors

### Alternatives

_No response_

### Additional context

_No response_

[2021-10-01 20:38] tu00tf commented on #56
I think this might be a HomeKit limitation? I can't find any mention of notifications for irrigation systems or valves. Maybe someone will have better luck?

[2021-10-01 20:43] donavanbecker commented on #56
@tu00tf We are thinking of doing contact sensors or motions sensors.

[2021-10-01 20:44] iondarie commented on #56
contact sensors :D, i was using them when i was on HA.

[2021-10-01 21:08] tu00tf commented on #56
Got it! Makes sense.

[2021-10-02 01:18] adouglas81 opened #57 "Count down timer now gone and getting error "RainBird controller request failed RangeError [ERR_OUT_OF_RANGE]: The value of "offset" is out of range. It must be >= 0 and <= 5. Received 8]""
### Describe The Bug

No countdown and error.

### To Reproduce

JUST RUN

### Expected behavior

COUNTDOWN TIMER STAYS NO ERROR

### Relevant log output

[code]

### Config for homebridge-rainbird

[code]

### Screenshots

_No response_

### Device & Model

ESP-ME3

### Node.js Version

14.18

### NPM Version

7.24.1

### Homebridge Version

1.3.4

### Homebridge Rainbird Plugin Version

1.2

###

[2021-10-03 07:25] mantorok1 commented on #57
Hi @adouglas81, could you set Homebridge into DEBUG mode and restart. Then capture the logs up to the above error message and post here. I suspect the response coming back from the RainBird controller is not what the plugin is expecting.

There is also a new beta version (1.2.1-beta.0) that is out now so you could also try that to see if it helps.

[2021-10-03 07:26] mantorok1 commented on #8
A new beta version (1.2.1-beta.0) has been released that allows you to add a Leak sensor (via settings)

[2021-10-04 04:19] mantorok1 commented on #56
@iondarie, another option could be to implement [pushover](https://pushover.net) notifications. I've done this in a couple of other plugins I've written and it works quite well.  There is however a one-time $5 purchase required

[2021-10-04 17:22] iondarie commented on #56
@mantorok1 one-time purchase for every user? sorry to ask but i really don't know much about pushover

[2021-10-04 21:14] mantorok1 commented on #56
Yeah it's per user so you'd have to purchase it for each person you want to receive the notifications.

[2021-10-07 15:56] adouglas81 commented on #57
Thanks for the response here is the log. Also, how do I install he beta.

[code]

[2021-10-07 16:11] donavanbecker commented on #57
<a><img src="https://user-images.githubusercontent.com/9875439/136422974-56269916-4a84-4d98-bd82-3ea677fbc5b3.png" width="400px"></a>
<a><img src="https://user-images.githubusercontent.com/9875439/136422973-d6c2f62e-3f44-4df4-9d69-2f3f40f9299f.png" width="300px"></a>
<a><img src="https://user-images.githubusercontent.com/9875439/136422965-64f528c5-c386-4027-a12a-f5d65d47a816.png" width="300px"></a

[2021-10-07 16:15] adouglas81 commented on #57
I found it, thanks still kicking out the same error.

[code]

[2021-10-07 21:35] mantorok1 commented on #57
Hi @adouglas81, thanks for the logs. That has pinpointed which request is causing the issue but unfortunately it doesn't show the response coming back. I've just pushed a new change (version 1.2.1-beta.2) that will include the response in an error message.

Could you please upgrade to this version and post the new error message you should see in the logs.  Thanks

Be aware that I may need you to r

[2021-10-07 21:50] adouglas81 commented on #57
Thanks for all your efforts. See below.

Enter this code with your HomeKit app on your iOS device to pair with Homebridge:

    ┌────────────┐
    │ 186-41-785 │
    └────────────┘

Starting to advertise 'Homebridge 19D7 5680' using bonjour-hap backend!
[10/7/2021, 5:47:13 PM] Homebridge v1.3.4 (Homebridge 19D7) is running on port 51662.
Initializing HAP-NodeJS v0.9.4...
Initializing HAP-NodeJS v0

[2021-10-07 22:00] mantorok1 commented on #57
Awesome, thanks @adouglas81

This is the one I'm interested in:
[code]
Can you confirm that at the time this error occurred your RainBird was not actively watering a zone.

Could you also use the app to manually start the watering for zone 1 and then restart homebridge and post the above error. Take note of the (approx) time remaining from the app and let me know that too.

Then do the same again

[2021-10-07 22:07] adouglas81 commented on #57
Confirm that there was  no active watering at the time of the prior error
message provided .

Set Zone 1 to a 5 min manual watering, restarted homebridge, with about
4 min and some seconds remaining.  Received the following error.
[10/7/2021, 6:04:00 PM] [RainBird] RainBird controller request failed.
[Error: Invalid response: [187,0,4,1,0,0,0] [CurrentZoneStateResponse]]

[2021-10-07 22:21] mantorok1 commented on #57
Could you please do the same again for zone 2

[2021-10-07 22:30] adouglas81 commented on #57
Zone 2 set for 5 min, under 3 left.

[10/7/2021, 6:28:20 PM] [RainBird] [DEBUG] Configure Irrigation Service
[10/7/2021, 6:28:20 PM] [RainBird] [DEBUG] Load Valve Service for Zone 1
[10/7/2021, 6:28:20 PM] [RainBird] [DEBUG] Configure Characteristics for
Zone 1
[10/7/2021, 6:28:20 PM] [RainBird] [DEBUG] Load Valve Service for Zone 2
[10/7/2021, 6:28:20 PM] [RainBird] [DEBUG] Configure Characterist

[2021-10-07 22:39] mantorok1 commented on #57
Hmm, so for zone 1 and 2 you are getting the same response:
[code]
So it looks like this is not telling us what is the active zone and and how much time is remaining like it does for other models. I'm a bit stumped now

[2021-10-07 22:42] adouglas81 commented on #57
The Model is the ESP-ME3.

[2021-10-07 22:51] mantorok1 commented on #57
I have the ESP-TM2.
Have you tried version 1.0.0 of the plugin? It used a different command to obtain the zone and time remaining but it didn't work for the ESP-RZXe model

[2021-10-08 00:40] adouglas81 commented on #57
V.1.0.0 did not work,
However, v.0.1.0 seems to work fine. Do you think there is anyway to make it work
with the new versions as they come out?

[2021-10-08 00:52] mantorok1 commented on #57
Yeah, version 0.1.0 doesn't request the current zone and time remaining from the controller so I would expect it to work. It won't, however, show if a zone is active because a program is running or you manually started it from the app.

The only thing I can suggest is that you try to do something like @tu00tf did in https://github.com/donavanbecker/homebridge-rainbird/issues/39 to capture the requ

[2021-10-08 15:13] adouglas81 commented on #57
No firmware available, I will take a look at #39 and see what I can provide.

Sent from mobile device. Please excuse all spelling and typographical errors.

[2021-10-09 01:42] mantorok1 commented on #57
Hi @adouglas81, can you try the new beta (1.2.1-beta.3) and see if it works better for you. It uses a different command (3F) to get the active zone but it's not possible to get the time remaining or if the zone is actually running so it will have a couple of limitations:
- it won't be possible to show the time remaining for a zone that was not started via the plugin (such as a scheduled program).

[2021-10-09 02:14] adouglas81 commented on #57
It is working without error, and with the limitations you described. Thank
you for your efforts on this.

On Fri, Oct 8, 2021 at 9:42 PM mantorok1 ***@***.***> wrote:

[2021-10-09 02:17] mantorok1 commented on #57
That's great news. Please let me know if you do find an API call that can return the time remaining and I'll include it in the plugin in a future version.

[2021-10-09 02:19] adouglas81 commented on #57
I hope that someone else could assist with that .

[2021-10-09 14:49] donavanbecker commented on #57
V1.3.0 is released.

[2021-10-09 14:49] #57 closed, assigned to donavanbecker

[2021-10-17 16:46] donavanbecker commented on #50
@tu00tf I have added a contact sensor option to the latest beta. Can you give it a try?

[2021-10-17 16:47] #8 closed, assigned to donavanbecker

[2021-10-17 16:48] donavanbecker commented on #56
@iondarie, we have added an option to enable a contact sensor to be notified when a zone has run can you test it out?

Beta:

[![npm version](https://badgen.net/npm/v/homebridge-rainbird/beta)](https://www.npmjs.com/package/homebridge-rainbird)

[2021-10-17 16:49] donavanbecker commented on #50
@tu00tf Option is available in latest version.

FYI, We have added an option to enable a contact sensor to be notified when a zone has run can you test it out?

Beta:

[![npm version](https://badgen.net/npm/v/homebridge-rainbird/beta)](https://www.npmjs.com/package/homebridge-rainbird)

[2021-10-17 18:08] #50 closed, assigned to donavanbecker

[2021-10-18 13:55] tu00tf commented on #56
Hi--I'm running the beta. Where should I see that contact sensor? In the same room where the Rainbird controller lives? I'm not seeing anything there. The only mention of a contact sensor is in the controller settings and it remained "Closed" for the duration of my sprinkler run this morning. Let me know if you need more info. I'll turn on debug logging for tomorrow morning's run.

[2021-10-18 15:23] iondarie commented on #56
i'm runing the beta also, the contact sensors are not showing up, and if i start a zone i can no longer stop it.

[2021-10-18 16:29] donavanbecker commented on #56
@tu00tf and @iondarie, I have made some suggestions. Can you try the new beta?

Beta:

[![npm version](https://badgen.net/npm/v/homebridge-rainbird/beta)](https://www.npmjs.com/package/homebridge-rainbird)

[2021-10-18 17:30] iondarie commented on #56
still the same

[2021-10-19 18:38] tu00tf commented on #56
Just to confirm: my program ran through all 6 zones this morning without any sign of the contact sensor.

[2021-10-19 19:29] donavanbecker commented on #56
@tu00tf @iondarie, and just to confirm. you set the config setting? Forgot to mention that.

[2021-10-19 20:05] tu00tf commented on #56
Yes, I did.

[2021-10-20 14:56] dikodahan opened #76 "Support Request: getting an error message in Homebridge"
### Describe Your Problem

Cannot see my rainbird zones in Homekit

### Relevant log output

[code]

### Config for homebridge-rainbird

[code]

### Screenshots

<img width="1050" alt="image" src="https://user-images.githubusercontent.com/38052895/138117711-abf5e20c-11a6-4b0b-a022-c8b84e012e6d.png">

### Device & Model

ESP-Me

### Node.js Version

v14.18.1

### NPM Version

v8.1.0

### Homebridge

[2021-10-20 19:47] donavanbecker commented on #56
okay, I hope I have this fixed. Can you try the new beta?

Beta:

[![npm version](https://badgen.net/npm/v/homebridge-rainbird/beta)](https://www.npmjs.com/package/homebridge-rainbird)

[2021-10-20 19:57] iondarie commented on #56
I just tried, no contact sensors/notifications appear and after i start a zone i cant turn it off

[2021-10-20 21:09] donavanbecker commented on #56
Okay what about next one?

[2021-10-20 21:22] iondarie commented on #56
i am now on beta 17, still no contact sensors. i now get some errors:
[code]

And i see the following in homekit but no sprinklers are runing:

![IMG_2447](https://user-images.githubusercontent.com/9055885/138174534-fffbe617-85f3-45f4-a671-faaa1fa8c1d9.PNG)

[2021-10-20 21:38] mantorok1 commented on #76
Wow I'd never heard of HTTP Error code 420. Looks like its an unofficial code created by twitter to indicate that they were putting restrictions on the total number of requests a client may do within a time period (see https://evertpot.com/http/420-enhance-your-calm)

Does the plugin work ok for a while before the above error occurs?

One thing you can do is put Homebridge into DEBUG mode which wi

[2021-10-20 21:54] donavanbecker commented on #56
well I am clearly not doing something write. @mantorok1 will look at it when he has time.

[2021-10-22 23:48] donavanbecker commented on #56
@mantorok1 Has done it.

@iondarie And @tu00tf can you test out the latest Beta?

@, can you try Beta:

[![npm version](https://badgen.net/badge/homebridge-rainbird@beta/1.3.1-beta.19/orange)](https://www.npmjs.com/package/homebridge-rainbird)

[2021-10-23 04:15] iondarie commented on #56
Yes the contact sensors are showing up and doing their job properly.

I still cannot stop a running zone.

[2021-10-23 04:37] mantorok1 commented on #56
@iondarie, did stopping a running zone work in version 1.3.0?

Could you turn on DEBUG mode in Homebridge and capture the logs when you attempt to stop a running zone. I'd like to see what response you are getting from the controller.

[2021-10-23 05:07] iondarie commented on #56
@mantorok1 stopping a zone worked in 1.2.0 here is a log of starting and stopping a zone:

[code]

[2021-10-23 05:08] iondarie commented on #56
@mantorok1 this is the log for 1.3.1 b19:

[code]

[2021-10-23 05:34] mantorok1 commented on #56
I think there might be a couple of issues here. Firstly the reason the zone is not stopping is that your model doesn't seem to support the Advance Zone command. This was introduced in version 1.3.0 as I found that the Stop Zone command would stop the entire program (if one was running). I may be able to get the plugin to fallback to the Stop Zone command if the Advance Zone one fails.  Here's what

[2021-10-23 07:28] mantorok1 commented on #56
@iondarie, I've made a change which should fix the issue with stopping a zone. Can you install beta 20 and let me know how it goes.

[2021-10-23 07:42] iondarie commented on #56
@mantorok1 IT WORKS!!! thank you

[2021-10-23 08:22] mantorok1 commented on #56
@iondarie, I've just made another change that forces controller requests to be sent one at a time. I'm hoping this will reduce the 503 errors you are seeing.

One thing to be aware of is that if the RainBird app is active it can cause those 503 errors. The controller only seems to like 1 client connected to it at a time.

[2021-10-25 13:56] tu00tf commented on #56
Hi folks--this seems to be working very well for me now! Thank you!!

Two very minor issues:
1. Although my controller supports 7 zones, I actually only have 6 in use, so I turned off zone 7 in HomeKit. However, every time I restart Homebridge, zone 7 turns back on. It'd be nice if the plugin cached the fact that I turned it off.
2. Related--even though I turned zone 7 off, a zone 7 contact sensor

[2021-10-25 21:59] mantorok1 commented on #56
Hi @tu00tf, when you say "turn off" do you mean set the "Enabled zone" toggle to "Off"?

One way we could do this is to allow you to override the available zones in the Plugin's settings. Then the zone wouldn't show in the Irrigation control or as a contact sensor

[2021-10-25 22:54] tu00tf commented on #56
Right, sorry, I’m using the “Enable Zone” toggle.

[2021-10-25 23:59] donavanbecker commented on #56
@tu00tf But you have it enabled in the rainbird app?

[2021-10-26 00:02] tu00tf commented on #56
@donavanbecker Nope, zone 7 is empty and marked as not wired in the controller.

[2021-10-26 00:28] mantorok1 commented on #56
Not that I'm aware of. The plugin uses the "AvailableZonesRequest" (command "03") to determine which zones the controller has. I don't think it shows which zones are wired or not wired. That may be another command that hasn't been discovered yet.

@tu00tf, are you able to provide the Request and Response from the logs for the above command (you'll need to put Homebridge into DEBUG mode to see them

[2021-10-26 16:07] tu00tf commented on #56
Here is the request/response from that command:
`[10/26/2021, 9:19:08 AM] [RainBird] Request: [3,0] [AvailableZonesRequest]`
`[10/26/2021, 9:19:08 AM] [RainBird] Response: [131,0,127,0,0,0] [AvailableZonesResponse]`

I'm not sure if the app gets the wired/not wired info from the controller either. I'm able to flip zone 7's status to wired manually.

Perhaps a plugin config option is the path of le

[2021-10-26 22:08] mantorok1 commented on #56
Thanks @tu00tf, so there's no way you can disable zone 7 on the Rainbird controller itself, so it doesn't show in either the RainBird app or the HomeKit app?

[2021-10-26 22:10] tu00tf commented on #56
@mantorok1 I’ll see if there is an option to do that.

[2021-10-28 05:53] mantorok1 commented on #56
Hey @tu00tf, there's a new beta (22) that will now persist the "Enable Zone" state (and duration) after restarting homebridge. Let me know how it goes.

NOTE: It doesn't remove the contact sensor at this stage

[2021-10-28 17:15] donavanbecker commented on #56
we have release v1.4.0

[2021-10-28 17:15] #56 closed, assigned to donavanbecker

[2021-10-30 15:43] flipit opened #88 "Bug:"
### Describe The Bug

TypeError:Cannot read property 'debug'  of undefined  at RainbirdPlatform.debug (ts:321:30)

### To Reproduce

Upgrade to v1.4.0

### Expected behavior

 "Logging Settings"  in the Plugin Settings doesn't provide a way to select 'Device' or 'Debug'  and should.

### Relevant log output

[code]

### Config for homebridge-rainbird

[code]

### Screenshots

_No response_

### De

[2021-10-30 16:00] donavanbecker commented on #88
@flipit, sorry I will get that fixed.

Do you have logs?

[2021-10-30 20:42] flipit commented on #88
[30/10/2021, 15:41:47] [RainBird] Initializing RainBird platform...
[30/10/2021, 15:41:47] TypeError: Cannot read property 'debug' of undefined
    at RainbirdPlatform.debug (/usr/local/lib/node_modules/homebridge-rainbird/src/platform.ts:321:30)
    at new RainbirdPlatform (/usr/local/lib/node_modules/homebridge-rainbird/src/platform.ts:30:10)
    at /usr/local/lib/node_modules/homebridge/src/ser

[2021-10-31 08:47] donavanbecker commented on #88
@flipit can you try the latest beta?

[2021-10-31 13:12] flipit commented on #88
That fixes it.

'Logging Settings" in the UI set to 'None' , no 'options' written to the config.  iOS Safari now shows the drop down selection also.

Config ------

            "name": "RainBird",
            "devices": [
                {
                    "ipaddress": "xxxxxxxxxxx",
                    "password": "xxxxxxxxxxx",
                    "showValveSensor": true
                }

[2021-10-31 19:12] mantorok1 commented on #76
Hi @dikodahan, could you please provide the above requested details so we can try to assist in getting it working for you.

Also, have you tried the latest version (1.4.0) of the plugin to see if it helps?

[2021-11-22 13:12] dikodahan commented on #76
After a reset to the LNK controller and an update to the latest 1.5.1 I can share that the issue is resolved.
Thank you!

[2021-11-22 14:38] donavanbecker commented on #76
@dikodahan Awesome!

[2021-11-22 14:39] #76 closed, assigned to donavanbecker, mantorok1

[2021-12-02 13:19] #88 closed, assigned to donavanbecker

[2022-01-30 17:22] larrysharon opened #157 "Support Request:"
### Describe Your Problem

Can't Add Device In Plugin

### Relevant log output

_No response_

### Config for homebridge-rainbird

[code]

### Screenshots

<img width="902" alt="Screen Shot 2022-01-30 at 12 11 10 PM" src="https://user-images.githubusercontent.com/6014612/151709961-07fafbfc-4b50-4839-b66b-18448637c31e.png">

### Device & Model

ESP-TM2

### Node.js Version

v16.13.2

### NPM Versio

[2022-01-30 17:22] larrysharon commented on #157
[homebridge.log.txt](https://github.com/donavanbecker/homebridge-rainbird/files/7966475/homebridge.log.txt)

[2022-03-01 21:31] mantorok1 commented on #157
Hi @larrysharon,

That error usually indicates that the plugin sent a request to the Rainbird controller but received no timely response. Does the Rain Bird app have any issues connecting to the controller?

You can try testing the connection from Homebridge UI's terminal with the following command:
[code]

[2022-03-18 20:28] onelight17 opened #200 "Bug: Home app not showing any of the sprinklers"
### Describe The Bug

Before all the zones would show in the home app. Now when I click the accessory it is just a blank page

### To Reproduce

Open sprinkler accessory in Apple Home app. Blank white screen

### Expected behavior

Should have shown the individual zones. (They show up in HomeBridge)

### Relevant log output

[code]

### Config for homebridge-rainbird

[code]

### Screenshots

![im

[2022-03-18 20:48] onelight17 commented on #200
I just tried this on an iPad running an older version of the OS and it still shows there so maybe this is a 15.4 issue?

[2022-03-19 19:36] mantorok1 commented on #200
Hi @onelight17, I was able to replicate the issue (sprinkler zone switches not showing) when I upgraded my iPad to iPadOS 15.4. So it does look like Apple broke something in version 15.4.
I need to figure out if its just the RainBird plugin that has this issue or all Irrigation systems in HomeKit.

@donavanbecker, you have a different make of an irrigation system that supports HomeKit don't you? D

[2022-03-21 16:52] onelight17 commented on #200
Oh interesting, yes I see that with Monterey 12.3 as well. Looks like Apple changed something. I don’t have any other irrigation system to test with

[2022-03-21 16:55] donavanbecker commented on #200
This is also an issue with native HomeKit Irrigation systems.

[2022-03-22 23:19] dan1916 commented on #200
I can also confirm that this issue happens in iPhone 13 with iOS 15.4

[2022-03-26 06:04] mantorok1 commented on #200
I'm currently developing a workaround for this issue. A new config option will allow you to create each sprinkler zone as it's own accessory. Early tests are promising so hoping to release a beta tomorrow

[2022-03-26 23:06] mantorok1 commented on #200
@onelight17 @dan1916 There's a new beta (1.6.5-beta.0) which will workaround the above issue by creating separate valve accessories for each zone (it needs to be enabled in the Settings - "Show Zones as Valve Accessories"). Let me know how it goes.

[2022-03-30 20:00] lindekai commented on #200
With a simple click on my iPhone (13ProMax iOS 15.4), I also do not see any zones. But if I press the icon longer or harder, I see all the zones that have been set up. Hope this helps with troubleshooting. (homebridge v1.4.0, node.js v16.14.2)
![image](https://user-images.githubusercontent.com/4020883/160920635-d84c55d0-ccfa-47db-9459-341a9c459ac2.png)

[2022-03-30 20:46] mantorok1 commented on #200
Thanks @lindekai, I too can get the zones to show intermittently - sometimes its a short tap other times its a long tap. Have you tried the new beta version which allows you to show the zones as their own accessories in the Home app? This allows you to better control your zones until Apple hopefully fix the bug.

[2022-03-30 23:02] lindekai commented on #200
No but I will still try. By the way, on the iPad I get the zones displayed with double tap. (homebridge-rainbird v1.6.4)

[2022-04-03 01:03] #157 closed, assigned to donavanbecker, mantorok1

[2022-05-02 01:10] #200 closed, assigned to donavanbecker, mantorok1

[2022-05-05 08:00] akustikrausch opened #238 "Bug: Homekit ESP-ME Switcher array invisible"
### Describe The Bug

ESP-ME Switcher array not visible

### To Reproduce

Open Home App, Select ESP-Me Switcher, List of all switcher should appear. but the list is just empty.Only sometimes, after many many attempts, the switches are displayed. Not concretely reproducible

### Expected behavior

Array of switcher should be visible to be able to control the system

### Relevant log output

[code]

[2022-05-05 10:32] mantorok1 commented on #238
Hi @akustikrausch,

This is a known bug (see [issue #200](https://github.com/donavanbecker/homebridge-rainbird/issues/200))

In summary:
- Apple introduced a bug in iOS 15.4 & macOS 12.3 which can cause the zone switches to be invisible
- To workaround this issue a new option was added to the plugin ("Show Zones as Valve Accessories"). With this option enabled it will show a separate Valve Switch

[2022-06-06 12:29] #238 closed, assigned to donavanbecker, mantorok1

[2022-06-14 13:47] zifou2015 commented on #39
Hello,

I have a question concerning my plugin Rainbird

Its possible to schedule at time specific my different zone area with my homekit ????

I already adding my plugin in my homebridge, everything is ok, if i start or stop my different zone area,

Thanks

________________________________
De : Donavan Becker ***@***.***>
Envoyé : mercredi 29 septembre 2021 19:45
À : donavanbecker/homebridge-rain

[2022-06-15 02:46] mantorok1 commented on #39
Hi @zifou2015, I don't think the HomeKit Irrigation System accessory supports schedules but you may be able to achieve the same thing using HomeKit automations

[2022-06-20 06:42] zifou2015 opened #277 "Support Request: Scheduled at the time different area"
### Describe Your Problem

schedule at time

### Relevant log output

[code]

### Config for homebridge-rainbird

_No response_

### Screenshots

_No response_

### Device & Model

RZXE

### Node.js Version

V14.4

### NPM Version

V7.20.5

### Homebridge Version

last

### Homebridge Rainbird Plugin Version

last

### Homebridge Config UI X Plugin Version

_No response_

### Operating System

Mac

[2022-06-20 06:55] mantorok1 commented on #277
Hi @zifou2015, I don't think the HomeKit Irrigation System accessory supports schedules but you may be able to achieve the same thing using HomeKit automations

[2022-06-20 07:20] zifou2015 commented on #277
Hello,

No its impossible to use Homekit automations wtih Rainbird plugin.
Normally i have for each plugin homekit "menu add Automations" (i can choose hour .....) , but for this plugin i dont have this menu.
I can only activate manually start and stop.

Thanks

________________________________
De : mantorok1 ***@***.***>
Envoyé : lundi 20 juin 2022 08:55
À : donavanbecker/homebridge-rainbird ***@

[2022-06-20 07:51] mantorok1 commented on #277
Yeah it looks like the Home app doesn't support creating automations for Valve accessories.
Personally I just use the RainBird app on my iPhone to schedule my zones

[2022-06-20 08:39] zifou2015 commented on #277
OK , i will use Rainbird app
________________________________
De : mantorok1 ***@***.***>
Envoyé : lundi 20 juin 2022 09:51
À : donavanbecker/homebridge-rainbird ***@***.***>
Cc : zifou2015 ***@***.***>; Mention ***@***.***>
Objet : Re: [donavanbecker/homebridge-rainbird] Support Request: Scheduled at the time different area (Issue #277)

Yeah it looks like the Home app doesn't support creating au

[2022-06-20 13:26] #277 closed, assigned to donavanbecker, mantorok1

[2022-10-19 18:33] tbaur opened #390 "Bug: RainBird controller request failed."
### Describe The Bug

1.8.0 TypeError

### To Reproduce

Upgrade to 1.8.0

### Expected behavior

N/A

### Relevant log output

[code]

### Config for homebridge-rainbird

[code]

### Screenshots

_No response_

### Device & Model

N/A

### Node.js Version

16.18.0

### NPM Version

8.19.2

### Homebridge Version

1.5.0

### Homebridge Rainbird Plugin Version

1.8.0

### Homebridge Config UI X Plu

[2022-10-19 21:57] donavanbecker commented on #390
Can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-rainbird@beta/>=1.8.1-beta.2/orange)](https://www.npmjs.com/package/homebridge-rainbird)

[Click here to find out how to install Beta](https://github.com/donavanbecker/homebridge-rainbird/wiki/Beta-Version)

[2022-10-19 22:31] donavanbecker commented on #390
Fixed in v1.8.1

[2022-10-19 22:31] #390 closed, assigned to donavanbecker, mantorok1

[2022-11-22 16:51] dacarson opened #395 "Feature Request: Support for CurrentZoneStateResponse with ESP-ME3"
### Problem

Currently CurrentZoneStateResponse is not supported for ESP-ME3

### Solution

Tracing Responses from during automatic and manual operation, I see response[2] contain the program number, 0..3 and 4 if manual. response[3] contain remaining the zones to run, including the current one.

### Alternatives

_No response_

### Additional context

I don't see zoneId nor timeRemaining being po

[2022-11-22 16:52] dacarson commented on #395
[11/22/2022, 5:07:25 AM] [RainBird] [192.168.1.157] Response: [191,0,1,0,0,0] [CurrentZoneResponse]
[11/22/2022, 5:07:25 AM] [RainBird] [192.168.1.157] Response: [187,0,0,1,2,0,0] [CurrentZoneStateResponse]
[11/22/2022, 5:07:25 AM] [RainBird] Zone 1: Running
[11/22/2022, 5:12:25 AM] [RainBird] [192.168.1.157] Response: [191,0,1,0,0,0] [CurrentZoneResponse]
[11/22/2022, 5:12:25 AM] [RainBird] [192.

[2022-11-22 17:08] dacarson commented on #395
Correction:
response[2] == programNumber
response[3] == isRunning
response[4] == remainingZones

In the app if I do a Quick manual run of each active zone for 3 mins, this is what I see:
[11/22/2022, 8:58:22 AM] [RainBird] [192.168.1.157] Response: [191,0,1,0,0,0] [CurrentZoneResponse]
[11/22/2022, 8:58:22 AM] [RainBird] [192.168.1.157] Response: [187,0,4,1,2,0,0] [CurrentZoneStateResponse]
[11/22

[2022-11-22 21:32] mantorok1 commented on #395
Hi @dacarson, with that info you provided it should be possible to now show the state (on or off) of a program switch. Is this the enhancement you were thinking of?

[2022-11-22 22:42] dacarson commented on #395
Yes, that is what I was thinking. Showing that a program is running.
If I am able to work out how to get the remaining time, I'll add that information separately.

[2022-11-26 16:34] dacarson opened #396 "Add support for time remaining for a zone on ESP-ME3"
### Problem

As called out in the known limitations, remaining time for a zone is not supported on ESP-ME3

### Solution

Requesting the additional zone state pages, you can find out the remaining time.

### Alternatives

Not support it.

### Additional context

Analysing the traffic between the iOS app and the WiFi LNK module, it shows how it obtains the remaining time. Trace below.

[2022-11-26 16:36] dacarson commented on #396
In the app, I asked it to run the 3 zones for 2 minutes each. Below is the communication back and forth that happened when I did so, until in the app I said to stop.
{"id":1,"jsonrpc":"2.0","method":"tunnelSip","params":{"data":"4B000102","length":4}}
{"jsonrpc": "2.0", "result":{"length":2, "data":"014B"}, "id": 1}
{"id":2,"jsonrpc":"2.0","method":"tunnelSip","params":{"data":"4B000202","length":

[2022-11-26 16:51] dacarson commented on #396
The 4B (QueueManuallyRunStationRequest) command queued up the manual runs. The format of the 4B command is:
4B pp zz mm
pp = page number, seems to always be zero
zz = zone number
mm = runtime in minutes

with the response QueueManuallyRunStationResponse
01 4B == (01) Acknowledge of (4B) StackManuallyRunStationRequest

As I reported in the other feature request #395 3B (CurrentZoneStateRequest):
3B

[2022-11-26 17:03] dacarson commented on #396
If you request CurrentZoneStateRequest with page number 01:
3B 01

The response contains the current zone and remaining time, as pointed out here:
https://github.com/jbarrancos/pyrainbird/issues/40

I saw that the app refreshes the remaining time every 10 seconds, so there is approx. 10 secs between each value.
BB 01 xx zn s2 s1
xx = unknown, seems to be zero always
zn = current zone
s2 = seconds

[2022-11-26 17:09] dacarson commented on #396
Probably not needed here, but you can see that page 02 contains the remaining time of the queued zones:
3B 02

Response:
BB 02 xx zn s2 s1 yy zz xx zn s2 s1
xx = unknown, seems to be zero always
zn = zone
s2 = seconds part 2
s1 = seconds part 1
yy = unknown
zz = unknown

BB 02 00 02 78 00 00 00 00 03 78 00
Zone 2: 120 seconds (aka 2mins)
Zone 3: 120 seconds (aka 2mins)

[2022-11-27 21:14] mantorok1 commented on #396
Hi @dacarson, great work. We'll try to get this included in the plugin ASAP.